<div class="page-header">
  {{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span>{{/link-to}}
  <div class="links">
    {{#if session.isAuthenticated}}
      <button {{action 'logout'}}>Logout</button>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
    {{#link-to 'admin'}}Admin{{/link-to}}
  </div>
</div>
