<div class="page-header">
  {{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span>{{/link-to}}
  <div class="links">
    <p>{{#link-to 'about'}}About{{/link-to}}</p>
    <p>{{#link-to 'partners'}}Partners{{/link-to}}</p>
    <p>{{#link-to 'admin'}}Admin{{/link-to}}</p>
  </div>
</div>
