<h4>Add an Answer</h4>
<div>
  <form>
    <label for="author">author:</label>{{input value=author id="author"}}
    <label for="content">answer:</label>{{input value=content id="content"}}
    <button {{action 'addAnswer'}}>Save</button>
  </form>
</div>
