<div class="banner">
  <img src="http://www.nml-net.com/wp-content/uploads/2014/05/help-desk-tech-support.png"/>
</div>
{{nav-bar}}

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  <p>© David Remington 2016</p>
</footer>
